*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    justify-content: space-evenly;
}
.nav-logo{
    display: flex;
    height:50px;
    width: 170px;
}
.logo{
    margin:10px;
    background-image:url(pngwing.com.png);
    background-size: contain;
    background-repeat:no-repeat;
    height: 150px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.add1{
    width: 70px;
    color: #cccccc;
    font: 0.85rem;
}

.add2{

    color: white;
    font: 1rem;
}
.location-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(216, 182, 32);
    width: 640px;
    height: 40px;
   
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 100%;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border: none;
}
.search-input{
    height:97%;
    width: 600px;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    background-color: rgb(214, 184, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: bold;
}
.nav-search:hover{
    border: 2px solid orange;
}
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size:0.85rem;
    font-weight: bold;
}
.panel{
    color: white;
    height: 40px;
    background-color: #222f3a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin: 10px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
font-weight: bold;
}
.hero-section{
   background-image:url(Jupiter25_PC-H1_8PM_2X._CB797091805_.jpg);
   height: 400px;
   width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-message{
    width: 95%;
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 15px;
}
.hero-message a{
    text-decoration: none;
    color: blue;
}
.box{
   
    height: 300px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: white;
    margin: 15px;
    
}
.shop-section{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px;
    background-color:#e2e7e6;
;
}
.box-image{
    height: 250px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
;
}

footer{
    margin-top: 20px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
}
.foot-panel2{
    background-color: #222f3e;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 ul li {
    font-size: 0.85rem;
    margin-top:10px;

}
.foot-panel2 ul {
    list-style: none;
    margin-top: 10px;
   
}
.foot-panel2 ul li a{
     text-decoration: none;
     color: #dddddd;
}
.foot-panel3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 2px solid #37475a;
    background-color: #222f3a;
}
.logo2{
    background-image: url(pngwing.com.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin: 10px;
}
.foot-panel4{
    background-color: hsl(207, 26%, 18%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.foot-panel4 a{
    color: white;
    text-decoration: none;
}
.pages{
    font-size: 0.85rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: 0.85rem;
    text-align: center;
     padding-top: 25px;
}